<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <link rel="stylesheet" href="../../../css/product.css">
    <link rel="stylesheet" href="../../../css/products.css">

    <body>

        <%- include('../partials/header') %>

            <main>

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div id="imagen-fondo">

                    <h1>Galeria de libros</h1>

                    <div class="contenedor-productos"><%- include('../partials/product') %></div>

                </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>