<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<link rel="stylesheet" href="../../../css/carrito.css">
<link rel="stylesheet" href="../../../css/product.css">

    <body>

        <%- include('../partials/header') %>

            <main>

                <section class="barras-busqueda">

                    <div class="busqueda-top">
                        <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
                        <input class="barra-busqueda" type="text" placeholder="Buscar Libros">
                    </div>

                    <div class="busqueda-bottom">

                        <div>
                            <input id="busqueda-genero-texto" type="text" placeholder="Genero">
                        </div>

                        <div>
                            <input id="busqueda-autor-texto" type="text" placeholder="Autor">
                        </div>

                        <div>
                            <input id="busqueda-anio-texto" type="text" placeholder="Año">
                        </div>

                        <div>
                            <input id="busqueda-calificacion-texto" type="text" placeholder="Calificacion">
                        </div>

                    </div>


                </section>

                <section class="contenedor-box">

                    <section class="contenedor-productos">

                        <%- include('../partials/product.ejs') %>

                    </section>

                    <section class="descripcion-box">

                        <div class="texto-box">

                            <p class="descripcion-texto">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, in illo
                                laboriosam
                                hic
                                tempore
                                animi ad perferendis officia dolor non beatae consectetur dolorem illum, ratione
                                deleniti,
                                soluta
                                exercitationem
                                nam laudantium. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                                repudiandae
                                dolor
                                doloribus
                                sint a vero neque, at quo velit doloremque minus ut ipsa. Explicabo exercitationem
                                dolorem,
                                doloribus
                                provident
                                <i class="fa-solid fa-bookmark" style="color: #f40b0b;"></i>
                            </p>

                        </div>

                        <div class="comprar-libro">
                            <input class="comprar-texto" type="text" placeholder="Comprar">
                        </div>

                    </section>

                </section>

            </main>

            <%- include('../partials/footer') %>

    </body>

</html>