<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head') %>
<link rel="stylesheet" href="/css/admin-createProducts.css">

<body>
  <%- include('../partials/header') %>
< class="mainCreate">
  <nav>
    <ul class="navbar">
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">ARMA TU PC</a></li>
      <li><a href="#">AYUDA</a></li>
      <li><a href="#">MARCAS SPONSOR</a></li>
    </ul>
  </nav>

  <div style="display: grid;
  place-items: center;">
    <section class="carousel">
    <img class="coursel_img" src="images/cooler-cpu.webp"
        alt="">
    <img class="coursel_img" src="images/GAB148-jpg.webp"
        alt="">
    <img class="coursel_img active" class="active" src="images/rtx-4090.webp"
        alt="">
    <img class="coursel_img" src="images/procesador-Amd-Ryzen-9-7900X.jpeg"
        alt="">
    <img class="coursel_img" src="images/memoria-m2.webp"
        alt="">
    <img class="coursel_img" src="images/MEMORIADDR5.WEBP"
        alt="">
      

</section>
  </div>
  



  <main class="main container">
    <h2 class="main__heading">NUEVOS LANZAMIENTOS</h2>
    <div class="main__products-container">
      <div class="main__product">
        <img class="main__product-img" src="images/teclado red.webp" alt="imagen teclado" />
        <h3>Teclado mecanico Redragon</h3>
        <p>$20.000</p>
        <P> UN CLASICO BBB</P>
        <P> BUENO BARATO BONITO</P>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/auri.logi.png" alt="imagen auris" />
        <h2>Auriculares Logitech</h2>
        <p>$32.000</p>
        <P> NO MERECES MENOS REY</P>
        <P> ANTES QUE SUBA EL DOLAR METELE PLOMO</P>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/celular.webp" alt="Celular Samsung" />
        <h2>Celular Samsung S23 Ultra</h2>
        <p>$700.000</p>
        <p> BUSCALA DEL ANGULO IPHONE 15 </p>
        <P> IDEAL PARA QUEDAR BIEN CON LA TOXICA</P>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/monitor.png" alt="imagen monitor" />
        <h2>Monitor</h2>
        <p>$340.000</p>
        <P> SOS SHOOTER? </P>
        <P> NO LO QUIERES.. LO NECESITAS!</P>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/placamadre.webp" alt="imagen mother" />
        <h2>MotherBoard MSI</h2>
        <p>$325.000</p>
        <P> MANDALE UN F5 A LA MIMADA </P>
        <P>EL DDR4 USABA TU ABUELA </P>
        <a href="/public/css/images/bill.jpeg">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/mousepad.webp" alt="imagen pad" />
        <h2>Mouse Pad</h2>
        <p>$120.000</p>
        <P> ES UN ELIXIR PARA TU MOUSE  </P>
        <P> NO TE VAS ARREPENTIR </P>
        <a href="/product_detail">Ver producto</a>
      </div>
    </div>
  </main>

