<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/product.css">

    <body>

        <%- include('./partials/header') %>

            <main>

                <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
                <a href="/products/carrito" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>

                <div id="imagen-fondo">

                    <div class="productos-box">

                        <section class="productos-contenedor">

                            <%- include('./partials/product') %>

                        </section>

                    </div>

                    <div id="cuadro-textual">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem, suscipit
                        ipsam ullam rem, quasi velit minima libero magni earum, eum unde impedit iste molestias veniam
                        quisquam? Quae, corrupti. Porro quibusdam tempore consequuntur eligendi unde illum
                        necessitatibus dignissimos modi, sed rerum magni quae vel non id, facilis debitis. Dolorum
                        minima laudantium nesciunt soluta illum corporis expedita delectus dolor error voluptate ex nisi
                        quo, sed asperiores. Amet rem maxime facilis nulla delectus magnam non harum optio. Veritatis
                        dolorem consequatur eveniet corrupti! Incidunt fuga aliquid sed nam laudantium aliquam
                        recusandae aut rem officia debitis corrupti placeat molestiae, quasi voluptas neque
                        exercitationem ut eveniet illum quos laborum qui, iusto natus! Voluptate repellendus cumque hic,
                        dolorem nulla rerum excepturi reiciendis cupiditate corporis temporibus aut fuga, soluta modi
                        sint quisquam, odio nam labore dicta adipisci fugiat tempora voluptatem dolorum suscipit totam!
                        Cumque ad ullam fuga atque quo ipsum earum tempora quia, impedit repellat necessitatibus beatae
                        praesentium, perferendis, amet blanditiis esse vitae illo distinctio? Harum mollitia non aperiam
                        eum accusantium asperiores labore assumenda. Adipisci tempore enim tenetur nesciunt in, illo
                        dolore sed voluptate cupiditate totam? Repudiandae provident eius nostrum facere voluptatum,
                        vitae voluptas nemo dolorem, esse possimus rem. Nobis reiciendis iste consequatur velit nulla
                        rerum rem recusandae!</div>
                </div>

            </main>

            <%- include('./partials/footer') %>

    </body>

</html>