<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Digital Commerce - Home</title>
</head>

<body>
  <header class="header">
    <div class="top-header">
      <img class="logo" src="/images/Logodc.png" alt="Logo de la empresa">

      <div class="busqueda">
        <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
        <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>

      <div class="login">
        <button class="boton-login">
          <i class="fa-solid fa-right-to-bracket"></i>
          <p>INICIAR SESIÓN</p>
        </button>
      </div>
      <div class="carrito">
        <button class="boton-carrito">
          <i class="fa-solid fa-basket-shopping"></i>
        </button>
      </div>

    </div>
  </header>
  <nav>
    <ul class="navbar">
      <li><a href="#">PRODUCTOS</a></li>
      <li><a href="#">ARMA TU PC</a></li>
      <li><a href="#">AYUDA</a></li>
      <li><a href="#">MARCAS SPONSOR</a></li>
    </ul>
  </nav>

  <div id="theCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#theCarousel" data-slide-to="1"></li>
      <li data-target="#theCarousel" data-slide-to="2"></li>
      <li data-target="#theCarousel" data-slide-to="3"></li>

    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="carousel-img" src="/images/auri.logi.png"
          alt="Ilustracion">
      </div>

      <div class="item">
        <img class="carousel-img"
          src="/images/celular.webp"
          alt="fotografia">
      </div>

      <div class="item">
        <img class="carousel-img" src="/images/monitor.png" alt="pintura">
      </div>

      <div class="item">
        <img class="carousel-img" src="/images/mousepad.webp" alt="diseno">
      </div>

      <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">anterior</span>
      </a>
      <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">siguiente</span>
      </a>
    </div>
  </div>

  <main class="main container">
    <h2 class="main__heading">NUEVOS LANZAMIENTOS</h2>
    <div class="main__products-container">
      <div class="main__product">
        <img class="main__product-img" src="images/teclado red.webp" alt="imagen teclado" />
        <h3>Teclado mecanico Redragon</h3>
        <p>$20.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/auri.logi.png" alt="imagen auris" />
        <h2>Auriculares Logitech</h2>
        <p>$32.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/celular.webp" alt="Celular Samsung" />
        <h2>Celular Samsung</h2>
        <p>$7.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/monitor.png" alt="imagen monitor" />
        <h2>Monitor</h2>
        <p>$40.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/placamadre.webp" alt="imagen mother" />
        <h2>MotherBoard MSI</h2>
        <p>$125.000</p>
        <a href="/public/css/images/bill.jpeg">Ver producto</a>
      </div>
      <div class="main__product">
        <img class="main__product-img" src="images/mousepad.webp" alt="imagen pad" />
        <h2>Mouse Pad</h2>
        <p>$12.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container">
      <div class="footer__social-networks">
        <h3>NUESTRAS REDES SOCIALES</h3>
        <div>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
      <div class="footer__contacto">
        <h3>CONTACTO</h3>
        <p><i class="fas fa-envelope"></i>DCommerce@gmail.com</p>
        <p><i class="fab fa-whatsapp-square">09122018</i></p>
        <p><i class="fas fa-compass"></i>Av. Roca 912</p>
      </div>
      
    </div>
    <div class="footer__methods">
          <h3>MEDIOS DE PAGO</h3>
          <img src="images/pagos.png" alt="imagen medios de pago" />
      </div>
  </footer>
</body>