<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="public/css/home.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <title>Digital Commerce - Home</title>
</head>

<body>
  <header class="header">
    <div class="logo__mobile">
      <a href="/" class="header__logo_link"><img src="images/Logodc.png" alt="imagen logo" class="header__logo-mobile" /></a>
    </div>
    <div class="header__top-container container">
      <form action="" class="header__top-form">
        <input type="text" class="search-bar" placeholder="Buscar productos" />
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </form>
      <div class="header__manage-account">
        <a href="/login">Iniciar Sesión<i class="fas fa-sign-in-alt"></i></a>
        <a href="/register">Registrarse<i class="far fa-id-card"></i></a>
        <a href="/carrito" class="carrito-compras"><i class="fas fa-shopping-basket icono-carrito"></i></a>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars burger"></i>
      </div>
    </div>
    <div class="hero"></div>
    <section class="header__hero-benefits">
      <div class="header__hero-benefits-container">
        <div>
          <i class="fas fa-truck"></i>
          <h3>ENVIOS A TODO EL PAIS</h3>
          <p>COMPRÁ DESDE TU CASA</p>
        </div>
        <div class="header__hero-benefits-card">
          <i class="fas fa-credit-card"></i>
          <h3>HASTA 3 CUOTAS s/interes</h3>
          <p>CON TODAS LAS TARJETAS</p>
        </div>
        <div>
          <i class="fas fa-shield-halved"></i>
          <h3>COMPRA SEGURA</h3>
          <p>PROTEJEMOS TUS DATOS</p>
        </div>
      </div>
    </section>
  </header>
  <main class="main container">
    <h2 class="main__heading">NUEVOS LANZAMIENTOS</h2>
    <div class="main__products-container">
      <div class="main__product">
        <img src="images/teclado red.webp" alt="imagen teclado" />
        <h3>Teclado mecanico Redragon</h3>
        <p>$20.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img src="images/auri.logi.png" alt="imagen auris" />
        <h2>Auriculares Logitech</h2>
        <p>$32.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img src="images/celular.webp" alt="Celular Samsung" />
        <h2>Celular Samsung</h2>
        <p>$7.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img src="images/monitor.png" alt="imagen monitor" />
        <h2>Monitor</h2>
        <p>$40.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
      <div class="main__product">
        <img src="images/placamadre.webp" alt="imagen mother" />
        <h2>MotherBoard MSI</h2>
        <p>$125.000</p>
        <a href="/public/css/images/bill.jpeg">Ver producto</a>
      </div>
      <div class="main__product">
        <img src="images/mousepad.webp" alt="imagen pad" />
        <h2>Mouse Pad</h2>
        <p>$12.000</p>
        <a href="/product_detail">Ver producto</a>
      </div>
    </div>
  </main>
  
  <footer class="footer">
    <div class="footer__container container">
      <div class="footer__social-networks">
        <h3>NUESTRAS REDES SOCIALES</h3>
        <div>
          <i class="fab fa-facebook"></i>
          <i class="fab fa-instagram-square"></i>
          <i class="fab fa-twitter-square"></i>
        </div>
      </div>
      <div class="footer__contacto">
        <h3>CONTACTO</h3>
        <p><i class="fas fa-envelope"></i>DCommerce@gmail.com</p>
        <p><i class="fab fa-whatsapp-square">09122018</i></p>
        <p><i class="fas fa-compass"></i>Av. Roca 912</p>
      </div>
      <div class="footer__methods">
        <div>
          <h3>MEDIOS DE PAGO</h3>
          <img src="images/pagos.png" alt="imagen medios de pago" />
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
