<footer id="footer-home">

    <section class="footer-contact-section">

        <div class="footer-contact-container">

            <h3>Contáctanos</h3>
            
            <ul class="footer-contact">
                <li>Teléfono: +54 9 385 5 123-4567</li>
                <li>Email: tiendakakuy@mail.com</li>
                <li>Dirección: Calle Falsa 123</li>
            </ul>

        </div>

        <br>

        <div id="contenedor-social-networks">

            <h3>Nuestras Redes Sociales:</h3>

            <ul class="footer-social-networks">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>

        </div>

    </section>

    <br>

    <section class="footer-payments-container">

        <h3>Medios de pago</h3>

        <ul class="footer-payments">
            <li><i class="fa-brands fa-cc-visa"></i></li>
            <li><i class="fa-brands fa-cc-mastercard"></i></li>
            <li><i class="fa-brands fa-cc-paypal"></i></li>
            <li><i class="fa-brands fa-cc-stripe"></i></li>
            <li><i class="fa-brands fa-cc-jcb"></i></li>
            <li><i class="fa-brands fa-cc-discover"></i></li>
            <li><i class="fa-brands fa-cc-apple-pay"></i></li>
            <li><i class="fa-brands fa-cc-amazon-pay"></i></li>
        </ul>

    </section>

</footer>