<header>

    <a href="/">

        <div id="logo-principal">
            <img src="/images/Logo3.png" alt="imagenBiblioteca">
        </div>

    </a>

    <div id="area-lateral-logo">

        <div id="area-busqueda">

            <p>CODIGO KAKUY</p>

            <div id="select-div">

                <select name="" id="select1"></select>

                <div>
                    <form action="/" method="get">
                        <input id="boton-busqueda-header" type="button" value="">
                        <i id="lupaBusqueda" class="fa-solid fa-magnifying-glass"></i>
                        <input id="entrada-busqueda-header" type="text" name="busqueda">
                    </form>
                </div>

            </div>

            <div id="select-select">
                <select name="" id="select2"></select>
                <select name="" id="select3"></select>
            </div>

        </div>

        <div id="darkmode">
            <i class="fa-solid fa-lightbulb"></i>
        </div>

        <div id="carrusell">

            <ul>
                <li id="flechaIzq"><a href=""><i class="fa-solid fa-caret-left"></i></a></li>
                <li><a href="">M<br>A<br>S<br><br>B<br>U<br>S<br>C<br>A<br>D<br>O<br>S</a></li>
                <li><a href="">M<br>A<br>S<br><br>V<br>E<br>N<br>D<br>I<br>D<br>O<br>S</a></li>
                <li><a href="">A<br>U<br>D<br>I<br>O<br>L<br>I<br>B<br>R<br>O<br>S</a></li>
                <li><a href="/products">T<br>O<br>D<br>O<br>S</a></li>
                <li id="flechaDer"><a href=""><i class="fa-solid fa-caret-right"></i></a></li>
            </ul>

        </div>

        <div id="login-carrito">

            <ul>
                <% if (locals.isLogged) { %>
                    <li><a href="/users/profile">Tu Perfil</a></li>
                    <br>
                    <li><a href="/users/logout">Cerrar Sesión</a></li>
                    <br>
                    <h3>Hola <%= locals.userLogged.username %>, gracias por elegirnos</h3>
                    <% } else {%>
                        <li><a href="/products/create">Crear</a></li>
                        <br>
                        <li><a href="/users/login">Login</a></li>
                        <br>
                        <li><a href="/users/register">Register</a></li>
                        <br>
                        <% } %>
            </ul>

        </div>

    </div>

</header>