<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---------------- Fuentes ---------------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
    <!---------------- Iconos ---------------->
    <script src="https://kit.fontawesome.com/93d15c86bc.js" crossorigin="anonymous"></script>
    <!---------------- Estilos ---------------->
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/botones.css">
    <title></title>
</head>