* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 227, 233);
    font-family: "Ubuntu", helvetica;
}

.main {
    padding: 1%;
    border-radius: 30px;
    background-color: #76abff;
    color: #fff;
}

.formproducts {
    text-align: center;
    background-color: #b3d0ff;
}

.form-label {
    display: flex;
    justify-content: center;
    color: rgb(44, 40, 40);
}

.relleno,
.nombre, .descripcion {
    color: black;
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 2px;
}

.relleno2 {
    color: #3b3d47;
    display: flex;
    margin: auto;
}

.botones-final {
    padding-bottom: 20px;
}

div.errores {
    color: rgb(216, 0, 0);
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
  }