* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 227, 233);
    font-family: "Ubuntu", helvetica;
}

.main {
    padding: 1%;
    border-radius: 30px;
    background-color: #4285f4;
    color: #fff;
}

.formulario {
    text-align: center;
    background-color: #b3d0ff;
}

.desc {
    width: 50%;
    height: 70px;
}

.form-label {
    display: flex;
    justify-content: center;
    color: #51535a;
}

.relleno {
    width: 50%;
    height: 35px;
    border: none;
    border-radius: 5px;
    padding: 2px;
  }

.relleno2 {
    color: #3b3d47;
    display: flex;
    margin: auto;
}

.botones-final {
    padding-bottom: 20px;
}