* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(224, 227, 233);
    font-family: "Ubuntu", helvetica;
}

.main {
    height: 60vh;
    margin-left: 15px;
}