/* Header styles */
.header {
  background-color: #4285f4; /* Cambia el color del fondo del header */
  color: #fff;
  padding: 10px 0;
}

/* Ajustes al botón de búsqueda */
.search-button {
  background-color: #fff;
  border: none;
  padding: 8px 15px; /* Ajusta el padding para un aspecto más equilibrado */
  cursor: pointer;
  color: #4285f4; /* Color del texto del botón */
}
/* Hero section */
.hero {
  height: 200px;
  background: url('public\images\messi.webp') center/cover; /* Añade una imagen de fondo */
}
/* Main content styles */
.main__products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre productos */
}

.main__product {
  width: calc(30% - 20px); /* Ajusta el ancho y el margen entre productos */
  margin: 0 10px 20px 0;
  padding: 15px;
  border: 1px solid #ddd; /* Borde suave alrededor de cada producto */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/* Footer styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

/* Estilo de los enlaces en el pie de página */
.footer a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease; /* Agrega transición para un cambio de color suave */
}

.footer a:hover {
  color: #4285f4; /* Cambia el color al pasar el ratón */
}
