/* Estilos generales y configuración */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(224, 227, 233);
  font-family: "Ubuntu", Helvetica, sans-serif;
}

/* Product Detail */
.product-detail {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 2em;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 50%;
  height: 250px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  color: #0a0a0a;
  font-size: 1.2em;
  margin-bottom: 10px;
}

span {
  font-size: 1.4em;
}

.botón-carrito {
  background-color: rgb(219, 219, 219);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  height: 50px;
  border-radius: 15px;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.botón-carrito:hover {
  background-color: #9dc2fd;
}

.related-products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: #b3d0ff;
  padding: 20px;
  border-radius: 12px;
}

.related-products img {
  width: 100%;
  max-width: 200px; /* Ajustar el tamaño máximo de las imágenes relacionadas */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Main Products Container */
.main__products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background-color: #0072bb
}

.main__product {
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.main__product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd; /* Borde suave alrededor de cada producto */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #fff;
}
