* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.product-detail {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  background-color: white;
  padding: 2em;
}

.product-image {
  width: 300px;
  height: 300px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 1.5em;
  font-weight: bold;
}

.product-price {
  color: #0a0a0a;
  font-size: 1.2em;
}

button {
  background-color: #b3d0ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 400px;
  height: 50px;
  border-radius: 15px;
  margin: 0 5px;
}

button:hover {
  background-color: #0072bb; /* Azul Francia */
  transition: all 1s ease;
}

.related-products {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-weight: bold;
  overflow-x: auto;
  flex-wrap: wrap;
  margin-left: 10px;
}

.related-product {
  flex: 0 0 auto;
  flex-wrap: wrap;
  font-weight: normal;
  width: 400px; /* Ajusta el ancho según tus necesidades */
  height: 400px; /* Ajusta la altura según tus necesidades */
  margin-right: 1em;
}

img {
  width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
  height: auto;
}

/* Main content styles */
.main__products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre productos */
}

.main__product {
  width: 200px; /* Ajusta el ancho y el margen entre productos */
  margin: 0 10px 20px 0;
  padding: 15px;
  border: 1px solid #ddd; /* Borde suave alrededor de cada producto */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
