/* Estilos generales y configuración */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
  font-size: 30.5%;
}

body {
  background: rgb(224, 227, 233);
  font-family: "Ubuntu", helvetica;
}

/* main */
.main {
  width: 90%;
  height: 70vh;
  display: flex;
  margin: 16rem auto 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__product {
  background-color: #b3d0ff;
  border-radius: 10px;
  
}

.main input {
  padding: 3%;
  width: 80%;
  color: #090C1F;
  transition: color 450ms;
  
}

.main input:hover {
  background-color: #0072bb;
  color: #FFF;
  transition: all 1s ease;
}

.main__container {
  width: 60%;
  padding: 3% ;
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  background-color: #5b9aff;
  color: #3A3B42;
  color: rgb(36, 32, 32);
  border-radius: 30px;}


.main__precio {
  font-size: 20px;
  
}

.main__cupon-descuento {
  margin: 50px auto;
  color: #fff;
  
  
}

.main__calcular-costo-envio {
  margin: 50px;
  color: #fff;
    margin: 50px auto;
}
h1 {
  background-color: #5b9aff;
  color: #fff;
  
}