<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Digital Commerce - Home</title>
</head>

<body>
  <header class="header">
    <div class="top-header">
      <img class="logo" src="/images/Logodc.png" alt="Logo de la empresa">

      <div class="busqueda">
        <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
        <button-type class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>

      <div class="login">
        <button-type class="boton-login">
          <a href="/login">INICIAR SESIÓN<i class="fas fa-sign-in-alt"></i></a>
          </button>
      </div>
      <div class="carrito">
        <button-type class="boton-carrito">
          <i class="fa-solid fa-basket-shopping"></i>
          </button>
      </div>

    </div>
  </header>

  <main class="main">
    <div class="main__container">
      <div class="main__productos-container">
        <div class="main__producto">
          <div class="main__producto-img">
            <img src="/public/images/auri.logi.png" alt="Auriculares seccion de producto">
          </div>
          <div class="main__producto-detalles">
            <p>Auriculares Logitech <span>$32.000</span></p>
            <div class="main__producto-cantidad">
              <button-name><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button-name><i class="fa-solid fa-minus"></i></button>
                  <type="button"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>

        <div class="main__producto">
          <div class="main__producto-img">
            <img src="/public/images/auri.logi.png" alt="Auriculares seccion de producto">
          </div>
          <div class="main__producto-detalles">
            <p>Auriculares Logitech <span>$32.000</span></p>
            <div class="main__producto-cantidad">
              <button-name><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button-name><i class="fa-solid fa-minus"></i></button>
                  <button-name><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="main__producto">
          <div class="main__producto-img">
            <img src="/public/images/auri.logi.png" alt="Auriculares seccion de producto">
          </div>
          <div class="main__producto-detalles">
            <p>Auriculares Logitech <span>$32.000</span></p>
            <div class="main__producto-cantidad">
              <button-name><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button-name><i class="fa-solid fa-minus"></i></button>
                  <button-name><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
        <div class="main__producto">
          <div class="main__producto-img">
            <img src="/public/images/auri.logi.png" alt="Auriculares seccion de producto">
          </div>
          <div class="main__producto-detalles">
            <p>Auriculares Logitech<span>$32.000</span></p>
            <div class="main__producto-cantidad">
              <button-name><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button-name><i class="fa-solid fa-minus"></i></button>
                  <button-name><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="main__detalles-container">
        <div class="main__total-pago">
          <p class="main__total"><span>Total: </span>$50.000</p>
          <p class="main__subtotal"><span>Subtotal: </span>$50.000</p>
          <div>
            <p class="main__descuento"><span>Descuento: </span>$0</p>
            <a href="#" class="main__cupon-descuento">Agregar cupon de descuento</a>
          </div>

        </div>
        <div class="main__metodo-pago">
          <form action="">
            <div class="metodo__pago-tarjeta">
              <i class="fa-solid fa-credit-card"></i>
              <label for="">Tarjeta de crédito</label>
              <input type="checkbox" name="pago-tarjeta" id="pago-tarjeta" value="pago-tarjeta">
            </div>
            <div class="metodo__pago-transferencia">
              <i class="fa-solid fa-money-bill-transfer"></i>
              <label for="">Transferencia</label>
              <input type="checkbox" name="pago-transferencia" id="pago-transferencia" value="pago-transferencia">
            </div>
            <div class="metodo__pago-efectivo">
              <i class="fa-solid fa-money-bill"></i>
              <label for="">Pago en efectivo</label>
              <input type="checkbox" name="pago-efectivo" id="pago-efectivo" value="pago-efectivo">
            </div>
            <input type="submit" value="Realizar compra" class="main__button-pagar">
          </form>
        </div>
        <a href="#" class="main__calcular-costo-envio">Calcular costo de envío</a>
      </div>
    </div>
  </main>

  <footer class="footer">
    <div class="footer__container container">
      <div class="footer__social-networks">
        <h3>NUESTRAS REDES SOCIALES</h3>
        <div>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-square-x-twitter"></i>
        </div>
      </div>
      <div class="footer__contacto">
        <h3>CONTACTO</h3>
        <p><i class="fa-solid fa-envelope"></i>Dcommerce@gmail.com</p>
        <p><i class="fa-brands fa-square-whatsapp"></i>09122018</p>
        <p><i class="fa-solid fa-compass"></i>Av. Roca 912</p>
      </div>
      <div class="footer__methods">
        <div>
          <h3>MEDIOS DE PAGO</h3>
          <img src="images/pagos.png" alt="medios de pago" />
        </div>
      </div>
    </div>
  </footer>
</body>
<!-- 
         <footer class="footer">
            <div class="footer__container">
              <div class="footer__social-networks">
                <h3>NUESTRAS REDES SOCIALES</h3>
                <div>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-instagram-square"></i>
                  <i class="fab fa-twitter-square"></i>
                </div>
              </div>
              <div class="footer__contacto">
                <h3>CONTACTO</h3>
                <p><i class="fas fa-envelope"></i>DCommerce@gmail.com</p>
                <p><i class="fab fa-whatsapp-square">09122018</i></p>
                <p><i class="fas fa-compass"></i>Av. Roca 912</p>
              </div>
              
            </div>
            <div class="footer__methods">
                  <h3>MEDIOS DE PAGO</h3>
                  <img src="images/pagos.png" alt="imagen medios de pago" />
              </div>
          </footer> -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const images = document.querySelectorAll("section img");

    images.forEach(image => {
      image.addEventListener("mouseover", function () {
        images.forEach(img => img.classList.remove("active"));
        this.classList.add("active");
      });
    });
  });
</script>
</body>