<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/crearProducto.css">
</head>

<body>
    <%- include('./partials/header.ejs') %>

        <main class="main">
            <div class="card-products">
                <h1>Cargar un nuevo producto</h1>
                <div class="errores">
                    <ul></ul>
                  </div>
                <form action="/products" method="POST" enctype="multipart/form-data" class="formproducts">                    
                    <br>
                    <label for="name" class="form-label">Nombre del producto:</label>
                    <input class="nombre" type="text" id="nombre " name="nombre" placeholder="Ej: Iphone 11 128GB">
                    <br>
                    <br>
                    <label for="price" class="form-label">Precio del producto:</label>
                    <input type="text" id="precio" name="precio" placeholder="Ej: 5000" class="relleno">
                    <br>
                    <br>
                    <label for="category" class="form-label">Categoría:</label required>
                    <select name="categoria" id="categoria" class="relleno">                     
                      <option value="Nuevo">Nuevo</option>
                      <option value="Usado">Usado</option>
                    </select>
                    <br>
                    <br>
                    <label for="images" class="form-label">Imagen del producto:</label>
                    <input class="relleno2" type="file" id="imagen" name="imagen" accept=".jpg,.png" multiple>
                    <br>
                    <br>
                    <label for="description" class="form-label">Descripción:</label>
                    <input class="descripcion" name="descripcion" id="descripcion">
                    <br>
                    <br>
                    <label for="cantidad" class="form-label">Cantidad:</label>
                    <input type="number" id="cantidad" name="cantidad" class="relleno" required>
                    <br>
                    <br>
                    <div class="botones-final">
                        <button type="submit" class="btn btn btn-info">Guardar producto</button>
                        <a href="/products" class="btn btn-danger">Volver</a>
                    </div>
                </form>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>

        <script src="/js/validationsFormProducts.js"></script>

</body>

</html>