<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>

      <!-- Barra de navegación -->
      <nav>
        <ul class="navbar">
          <li><a href="/products">PRODUCTOS</a></li>
          <li><a href="/products/create">VENDER</a></li>
          <li><a href="#">AYUDA</a></li>
          <li><a href="#">MARCAS SPONSOR</a></li>
          <li><a href="/users">USUARIOS</a></li>
        </ul>
      </nav>

      <!-- Carrusel de imágenes -->
      <div style="display: grid; place-items: center">
        <section class="carousel">
          <img class="coursel_img" src="images/products/cooler-cpu.png" alt="" />
          <img class="coursel_img" src="images/products/GAB148-jpg.png" alt="" />
          <img class="coursel_img active" src="images/products/rtx-4090.png" alt="" />
          <img class="coursel_img" src="images/products/procesador-Amd-Ryzen-9-7900X.png" alt="" />
          <img class="coursel_img" src="images/products/memoria-m2.png" alt="" />
          <img class="coursel_img" src="images/products/MEMORIADDR5.png" alt="" />
        </section>
      </div>

      <!-- Contenido principal -->
      <main class="main-container">
        <h2 class="main__heading">NUEVOS LANZAMIENTOS</h2>
        <div class="main__products-container">
          <!-- Producto 1 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/teclado_red.png" alt="imagen teclado" />
            <h3>Teclado mecánico Redragon K630</h3>
            <p>$60.000</p>
            <p>ERGONÓMICO Y APTO PARA DIVERSOS USOS</p>
            <p>CON CONECTOR USB</p>
            <a href="/products/detail/1">Ver producto</a>
          </div>

          <!-- Producto 2 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/auri.logi.png" alt="imagen auris" />
            <h3>Auriculares Logitech Pro X Wireless</h3>
            <p>$320.000</p>
            <p>COMODIDAD Y RENDIMIENTO</p>
            <p>HASTA 20 HS. DE DURACIÓN DE BATERÍA</p>
            <a href="/products/detail/2">Ver producto</a>
          </div>

          <!-- Producto 3 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/celular.png" alt="Celular Samsung" />
            <h3>Celular Samsung S23 Ultra</h3>
            <p>$1.600.000</p>
            <p>CÁMARA DE ALTA RESOLUCIÓN CON MODO NOCTURNO MEJORADO</p>
            <p>CONECTIVIDAD 5G</p>
            <a href="/products/detail/3">Ver producto</a>
          </div>

          <!-- Producto 4 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/monitor.png" alt="imagen monitor" />
            <h3>Monitor Gamer Gigabyte Curvo 165hz 1ms</h3>
            <p>$600.000</p>
            <p>RESOLUCIÓN DE QHD</p>
            <p>COMODIDAD VISUAL EN TODO MOMENTO</p>
            <a href="/products/detail/4">Ver producto</a>
          </div>

          <!-- Producto 5 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/placamadre.png" alt="imagen mother" />
            <h3>Motherboard Am5 - Msi Pro X670-p Wifi Ddr5 Ryzen</h3>
            <p>$520.000</p>
            <p>COMPATIBLE CON PROCESADORES AMD</p>
            <p>CUENTA CON CHIPSET: AMD X670</p>
            <a href="/products/detail/5">Ver producto</a>
          </div>

          <!-- Producto 6 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/impresora.hp.png" alt="imagen impresora" />
            <h3>Impresora Multifunción</h3>
            <p>$250.000</p>
            <p>IMPRESIÓN DE ALTA CALIDAD</p>
            <p>PARA TUS NECESIDADES DIARIAS</p>
            <a href="/products/detail/6">Ver producto</a>
          </div>

          <!-- Producto 7 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/router.png" alt="imagen router" />
            <h3>Router WiFi Gigabit</h3>
            <p>$180.000</p>
            <p>CONEXIÓN ESTABLE Y RÁPIDA</p>
            <p>PARA TODOS TUS DISPOSITIVOS</p>
            <a href="/products/detail/7">Ver producto</a>
          </div>

          <!-- Producto 8 -->
          <div class="main__product">
            <img class="main__product-img" src="images/products/mousepad.png" alt="imagen pad" />
            <h3>Mouse Pad Gamer</h3>
            <p>$7.200</p>
            <p>PRECISIÓN Y COMODIDAD EN CADA MOVIMIENTO</p>
            <p>ANTIDESLIZANTE</p>
            <a href="/products/detail/8">Ver producto</a>
          </div>
        </div>
      </main>


      <!-- Pie de página -->
      <%- include('./partials/footer.ejs')%>

        <!-- Script para el carrusel de imágenes -->
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const images = document.querySelectorAll("section img");

            images.forEach((image) => {
              image.addEventListener("mouseover", function () {
                images.forEach((img) => img.classList.remove("active"));
                this.classList.add("active");
              });
            });
          });
        </script>
  </body>

</html>