<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Configuración del documento HTML -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- Enlaces a archivos de estilo y fuentes -->
  <link href="/css/login.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Ubuntu" rel="stylesheet" />

  <!-- Título de la página -->
  <title>Iniciar Sesión</title>
</head>

<body>
  <!-- Encabezado de la página -->
  <header class="header">
    <div class="top-header">
      <!-- Logo de la empresa con enlace a la página principal -->
      <a href="/" class="header-logo-link"><img class="logo" src="/images/Logodc.png" alt="Logo de la empresa"></a>
      
      <!-- Barra de búsqueda -->
      <div class="busqueda">
        <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
        <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      
      <!-- Enlaces para gestionar la cuenta, registrarse y ver el carrito -->
      <div class="header__manage-account">
        <a href="/register">Registrarse<i class="far fa-id-card"></i></a>
        <a href="/cart" i class="fas fa-shopping-basket icono-carrito"></i></a>
        <a href="/" class="nav__item">Inicio</a>
      </div>
    </div>
  </header>
  
  <!-- Contenido principal de la página -->
  <main class="main">
    <!-- Formulario de inicio de sesión -->
    <div class="card-login">
      <h1>Iniciar sesión</h1>
      <form action="/" method="GET" class="formulario">
        <br>
        <!-- Campos de usuario y contraseña -->
        <input class="relleno" type="text" name="user" placeholder="Nombre de usuario" required>
        <br>
        <br>
        <input class="relleno" type="password" name="pass" placeholder="Contraseña" required>
        <br>
        <br>
        <!-- Botón de envío del formulario -->
        <button class="botón" type="submit">Enviar</button>
        <br>
        <br>
      </form>
    </div>
  </main>
  
  <!-- Pie de página -->
  <footer class="footer">
    <div class="footer__container container">
      <!-- Redes sociales -->
      <div class="footer__social-networks">
        <h3>NUESTRAS REDES SOCIALES</h3>
        <div>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-square-x-twitter"></i>
        </div>
      </div>
      
      <!-- Información de contacto -->
      <div class="footer__contacto">
        <h3>CONTACTO</h3>
        <p><i class="fa-solid fa-envelope"></i>conmasgansqueconocimento@gmail.com</p>
        <p><i class="fa-brands fa-square-whatsapp"></i>3851784147</p>
        <p><i class="fa-solid fa-compass"></i>Av.Simpreviva N° 912 Springfield</p>
      </div>
      
      <!-- Medios de pago -->
      <div class="footer__methods">
        <div>
          <h3>MEDIOS DE PAGO</h3>
          <img src="images/pagos.png" alt="medios de pago" />
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
