<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <!-- Encabezado de la página -->
  <%- include('./partials/header') %>

    <!-- Contenido principal de la página -->
    <main class="main">

      <!-- Formulario de inicio de sesión -->
      <div class="card-login">
        <h1>Iniciar sesión</h1>
        <form action="/" method="POST" class="formulario">
          <br>
          <!-- Campos de usuario y contraseña -->
          <input class="relleno" type="email" name="email" placeholder="Ingresa tu email" required>
          <br>
          <br>
          <input class="relleno" type="password" name="password" placeholder="Ingresa tu contraseña" required>
          <br>
          <br>
          <br>
          <button class="botón" type="submit">Ingresar</button>
          <br>
          <br>
          <button class="botón" type="submit"><a href="/register">Registrarse</a></button>
      </div>

    </main>

    <!-- Pie de página -->
    <%- include('./partials/footer.ejs')%>
</body>

</html>
