<!DOCTYPE html>
<html lang="en">

<head>
<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/login.css">
</head>

<body>
  <!-- Encabezado de la página -->
  <%- include('./partials/header') %>

    <!-- Contenido principal de la página -->
    <main class="main">
      <!-- Formulario de inicio de sesión -->
      <div class="card-login">
        <h1>Iniciar sesión</h1>
        <form action="/" method="GET" class="formulario">
          <br>
          <!-- Campos de usuario y contraseña -->
          <input class="relleno" type="text" name="user" placeholder="Nombre de usuario" required>
          <br>
          <br>
          <input class="relleno" type="password" name="pass" placeholder="Contraseña" required>
          <br>
          <br>
          <!-- Botón de envío del formulario -->
          <button class="botón" type="submit">Enviar</button>
          <br>
          <br>
        </form>
      </div>
    </main>

    <!-- Pie de página -->
    <%- include('./partials/footer.ejs')%>
</body>

</html>