<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
  <!-- Encabezado de la página -->
  <%- include('./partials/header') %>

    <!-- Contenido principal de la página -->
    <main class="main">
      
      <div class="main__container">        
        <!-- Contenedor de productos -->
        <div class="main__productos-container">
          <h1>Finalizar compra</h1>
          <!-- Producto 1 -->
          <div class="main__product">
            <img class="main__product-img" src="/images/products/auri.logi.png" alt="Auriculares sección de producto" />

            <div class="main__producto-detalles">
              <p>Auriculares Logitech Pro X Wireless</p>
              <p>$32.000</p>
              <div class="main__producto-cantidad">
                <button-name><i class="fa-solid fa-plus"></i></button>
                  <p>1</p>
                  <button-name><i class="fa-solid fa-minus"></i></button>
                    <button-type><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
          </div>

          <!-- Productos adicionales (repetidos para demostración) -->
          <!-- Producto 2 -->
          <!-- Producto 3 -->
          <!-- Producto 4 -->
        </div>

        <!-- Detalles y método de pago -->
        <div class="main__detalles-container">
          
          <!-- Total de la compra y detalles -->
          <div class="main__total-pago">
            <p class="main__precio"><span>Total: </span>$50.000</p>
            <p class="main__precio"><span>Subtotal: </span>$50.000</p>
            <div>
              <p class="main__precio"><span>Descuento: </span>$0</p>
              <a href="#" class="main__cupon-descuento">Agregar cupón de descuento</a>
            </div>

          </div>

          <!-- Métodos de pago -->
          <div class="main__metodo-pago">
            <form action="">
              <div class="metodo__pago-tarjeta">
                <i class="fa-solid fa-credit-card"></i>
                <label for="">Tarjeta de crédito</label>
                <input type="radio" name="pago-tarjeta" id="credit" value="credit">
                <br>
                <i class="fa-solid fa-credit-card"></i>
                <label for="">Tarjeta de débito</label>
                <input type="radio" name="pago-tarjeta" id="debit" value="debit">
              </div>

              <!-- Más métodos de pago -->
              <input type="submit" value="Realizar compra" class="main__button-pagar">
            </form>
          </div>

          <!-- Enlace para calcular costo de envío -->
          <a href="#" class="main__calcular-costo-envio">Calcular costo de envío</a>
        </div>
      </div>
    </main>

    <!-- Pie de página de la página -->
    <%- include('./partials/footer.ejs')%>

</body>

</html>