<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Configuración del documento -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Enlaces a hojas de estilo y fuentes -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/public/css/productDetail.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Título de la página -->
    <title>Digital Commerce - Detalle de Producto</title>
  </head>
  <body>
    <!-- Encabezado de la página -->
    <header class="header">
      <div class="top-header">
        <!-- Logo de la empresa con enlace a la página principal -->
        <a href="/" class="header-logo-link"><img class="logo" src="/images/Logodc.png" alt="Logo de la empresa"></a>
        
        <!-- Barra de búsqueda -->
        <div class="busqueda">
          <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
          <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
        <!-- Enlaces para gestionar la cuenta, registrarse y ver el carrito -->
        <div class="header__manage-account">
          <a href="/register">Registrarse<i class="far fa-id-card"></i></a>
          <a href="/cart"><i class="fa-solid fa-basket-shopping"></i></a>
          <a href="/" class="nav__item">Inicio</a>
        </div>
      </div>
    </header>

    <!-- Cuerpo de la página -->
    <div class="product-detail">
      <!-- Imagen del producto -->
      <img
        class="product-image"
        src="/public/images/macbook.jpg"
        alt="product-image"
      />

      <!-- Información del producto -->
      <div class="product-info">
        <span class="product-name">MacBook Pro 2019</span>
        <span class="product-price">$9000</span>
        <p class="product-description">
          <!-- Detalles técnicos del producto -->
          CPU: 1.6GHz Intel Core i5-8210Y (dual-core, 4 threads, 4MB cache, up
          to 3.6GHz)<br />
          Placa de Video: Intel UHD Graphics 617<br />
          RAM: 8GB (2,133MHz LPDDR3)<br />
          Tamaño de pantalla: 13.3 pulgadas, 2,560 x 1,600 Retina True Tone
          display (backlit LED, IPS)<br />
          Storage: 256GB PCIe SSD[^1^][4] Almacenamiento: SSD PCIe de 256 GB<br />
          Puertos: 2x Thunderbolt 3 (USB-C), conector para auriculares de 3,5
          mm<br />
          Tamaño: 11,97 x 8,36 x 0,61 pulgadas (30,41 x 21,24 x 1,56 cm; ancho x
          profundidad x alto)<br />
        </p>
        <!-- Botón para agregar al carrito -->
        <button>Agregar al carrito</button>
      </div>
    </div>

    <!-- Sección de productos relacionados -->
    <span class="related-products">Productos Relacionados</span>
    <div class="related-products">
      <!-- Producto relacionado 1 -->
      <div class="related-product">
        <img
          class="related-images"
          src="/public/images/s10.jpg"
          alt="Samsung Galaxy S10"
        />
        <p>Samsung Galaxy S10</p>
        <p>$70.000</p>
      </div>
      <!-- Producto relacionado 2 -->
      <div class="related-product">
        <img
          class="related-images"
          src="/public/images/smart.jpg"
          alt="Producto relacionado 2"
        />
        <p>Smart Tv Samsung</p>
        <p>$120.000</p>
      </div>
      <!-- Puedes agregar más productos relacionados aquí... -->
    </div>

    <!-- Sección de comentarios -->
    <div class="comments">
      <span class="comments">Comentarios</span><i class="far fa-comment"></i>
      <!-- Comentario 1 -->
      <div class="comment">
        <img src="public/images/momo.jpg" alt="Perfil 1" class="profile-icon" />
        <p class="comment-author">juancito01</p>
        <p>y esos auris de virgo momo?</p>
      </div>
      <!-- Comentario 2 -->
      <div class="comment">
        <img src="images/bill.jpg" alt="bill" class="profile-icon" />
        <p class="comment-author">Bill Gates</p>
        <p>Muy mala, no la compren.</p>
      </div>
    </div>

    <!-- Pie de página -->
    <footer class="footer">
      <div class="footer__container container">
        <!-- Redes sociales -->
        <div class="footer__social-networks">
          <h3>NUESTRAS REDES SOCIALES</h3>
          <div>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
          </div>
        </div>

        <!-- Información de contacto -->
        <div class="footer__contacto">
          <h3>CONTACTO</h3>
          <p><i class="fa-solid fa-envelope"></i>Dcommerce@gmail.com</p>
          <p><i class="fa-brands fa-square-whatsapp"></i>09122018</p>
          <p><i class="fa-solid fa-compass"></i>Av. Roca 912</p>
        </div>

        <!-- Métodos de pago -->
        <div class="footer__methods">
          <div>
            <h3>MEDIOS DE PAGO</h3>
            <img src="images/pagos.png" alt="medios de pago" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
