<!-- Pie de página -->
<footer class="footer">
  <div class="footer__container container">
    <!-- Redes sociales -->
    <div class="footer__social-networks">
      <h3>NUESTRAS REDES SOCIALES</h3>
      <div>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
      </div>
    </div>

    <!-- Información de contacto -->
    <div class="footer__contacto">
      <h3>CONTACTO</h3>
      <p><i class="fa-solid fa-envelope"></i>Dcommerce@gmail.com</p>
      <p><i class="fa-brands fa-square-whatsapp"></i>09122018</p>
      <p><i class="fa-solid fa-compass"></i>Av. Roca 912</p>
    </div>

    <!-- Métodos de pago -->
    <div class="footer__methods">
      <div>
        <h3>MEDIOS DE PAGO</h3>
        <img src="images/pagos.png" alt="medios de pago" />
      </div>
    </div>
  </div>
</footer>