<!-- Encabezado -->
<header class="header">
  <div class="top-header">

    <!-- Logo de la empresa -->
    <a href="/"><img class="logo" src="/images/Logodc.png" alt="Logo de la empresa" /></a>

    <!-- Barra de búsqueda -->
    <div class="busqueda">
      <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas" />
      <button class="boton-busqueda">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <div class="botones-header">

      <!-- Iniciar sesión -->
      <div class="login">
        <button class="boton-login">
          <a href="/login">INICIAR SESIÓN<i class="fas fa-sign-in-alt"></i></a>
        </button>
      </div>

      <!-- Registro -->
      <div class="registro">
        <button class="boton-registro">
          <a href="/register">REGISTRARSE<i class="far fa-id-card"></i></a>
        </button>
      </div>

      <!-- Carrito de compras -->
      <div class="carrito">
        <button class="boton-carrito">
          <a href="/cart">CARRITO<i class="fa-solid fa-basket-shopping"></i></a>
        </button>
      </div>
    </div>
  </div>

</header>