<!-- Encabezado -->
<header class="header">
  <div class="top-header">
    <!-- Logo de la empresa -->
    <img class="logo" src="/images/Logodc.png" alt="Logo de la empresa" />

    <!-- Barra de búsqueda -->
    <div class="busqueda">
      <input
        class="barra-busqueda"
        type="text"
        placeholder="Buscar productos, marcas"
      />
      <button class="boton-busqueda">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <!-- Iniciar sesión -->
    <div class="login">
      <button class="boton-login">
        <a href="/login">INICIAR SESIÓN<i class="fas fa-sign-in-alt"></i></a>
      </button>
    </div>

    <!-- Carrito de compras -->
    <div class="carrito">
      <button class="boton-carrito">
        <a href="/cart"><i class="fa-solid fa-basket-shopping"></i></a>
      </button>
    </div>
  </div>
</header>
