<header class="header">
    <div class="top-header">
      <img class="logo" src="/images/Logodc.png" alt="Logo de la empresa">

      <div class="busqueda">
        <input class="barra-busqueda" type="text" placeholder="Buscar productos, marcas">
        <button class="boton-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>

      <div class="login">
        <button class="boton-login">
          <a href="/login">INICIAR SESIÓN<i class="fas fa-sign-in-alt"></i></a>
        </button>
      </div>
      <div class="carrito">
        <button class="boton-carrito">
          <i class="fa-solid fa-basket-shopping"></i>
        </button>
      </div>

    </div>
  </header>