<article class="ESTO ES BOCA">

    <div class="box-izquierda">
        <img src="" alt="">
    </div>

    <div class="box-derecha">
        <p class="descripcion">Descripcion</p>
        <p class="precio">Precio</p>
        <p class="stock">Si hay stock</p>
    </div>

</article>