!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/home.css">

<body>
    <%- include('./partials/header') %>
    <main>
        <a href="#" id="main-arrow"><i class="fa-solid fa-circle-up"></i></a>
        <a href="/login" id="main-basket"><i class="fa-solid fa-basket-shopping"></i></a>
        <div id="imagen-fondo">
            <div id="cuadro-textual"> HOLA RANDON </div>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>